@import "tailwindcss";

@theme {
  --color-lemon: #fffabf;
  --color-bunny: #ffe7ff;
  --color-seafair: #b2f9e7;
  --color-changeling: #f4adcf;
  --color-lilac: #bfc4ff;

  --color-background: #ffffff;
  --color-foreground: #18181b;
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
